<table class="table table-responsive display responsive nowrap" id="other_history_table" style="width: 100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Snomed</th>
    <th>Date identified</th>
    <th>Date resolved</th>
    <th>Other history status</th>
    <th>Other history type</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'other_history_table',
    url: other_histories_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: other_histories_path(format: :json, status_type: params[:status_type])
} %>