<%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
<%= link_to(t('new_other_history'), new_other_history_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_other_histories, :manage_roles, :manage_other_histories) %>
<section id="widget-grid" class="other_histories_section">
  <%= render partial: 'state_button_filter'%>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'other_history',
                     wid_title: t('other_histories')
                 } %>
    </article>
  </div>
</section>
