<table class="table table-responsive" id="problem_list_table" style="width: 100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Snomed</th>
    <th>Date onset</th>
    <th>Date resolved</th>
    <th>Problem status</th>
    <th>Problem type</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'problem_list_table',
    url: problem_lists_path(format: :csv),
    columns: columns.flatten,
    ajax_url: problem_lists_path(format: :json, status_type: params[:status_type])
} %>