  <div class="col-xs-12 btn-edition" style="padding-left:0;">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:170px;">
        <% if @appointment_disposition.can?(:manage_roles, :manage_appointment_disposition, :delete_appointment_disposition) %>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= link_to('Delete', appointment_disposition_path(@appointment_disposition), class: 'dropdown-item',
                          :method => :delete,
                          :data => {:confirm => t(:text_are_you_sure)}) 
              %>
          </li>
          <div class='dropdown-item-dividier'></div>
        <% end %>

        <% if params[:action] == 'show' %>
          <% if @appointment_disposition.can?(:manage_roles, :manage_appointment_disposition, :edit_appointment_disposition) %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to 'Edit', edit_appointment_disposition_path(@appointment_disposition), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% else %>
          <% if @appointment_disposition.can?(:manage_roles, :manage_appointment_disposition, :show_appointment_disposition) %>
            <li>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <%= link_to 'Show', appointment_disposition_path(@appointment_disposition), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% end %>

          <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'Cancel', @appointment_disposition.appointment, class: 'dropdown-item' %>
          </li>
      </ul>
    </div>
  </div>
