<table  class="table table-bordered table-responsive" id="appointment_captures_table">
  <thead>
  <tr>
    <th>Disposition</th>
    <th>Date Recorded</th>
    <th>Show link</th>
  </tr>
  </thead>

  <tbody>

  <% captures.each do |capture| %>
      <tr>
        <td><%= capture.disposition %></td>
        <td><%= capture.date_recorded   %></td>
        <td><%= show_link capture %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function(){
        initDataTable('appointment_captures_table');
    } );
</script>
