<table  class="table table-bordered table-responsive" id="appointment_dispositions_table">
  <thead>
  <tr>
    <th>Disposition</th>
    <th>Related to</th>
    <th>Date Recorded</th>
  </tr>
  </thead>

  <tbody>

  <% captures.each do |capture| %>
      <tr>
        <td><%= link_to capture.disposition, capture %></td>
        <td><%= capture.related_to   %></td>
        <td><%= format_date capture.date_recorded   %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function(){
        initDataTable('appointment_dispositions_table');
    } );
</script>
