<div class="row">
  <div class="module-title">
    <h2 class='module-title-text'>LINK SHARE</h2>
  </div>
  <div class="col-xs-12 btn-edition">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:180px;">
        <% unless params[:action] == 'index' %>
          <li>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <%= link_to 'List Page', '/rordit', class: 'dropdown-item' %>
          </li>
        <% end %>

        <% if params[:action] != 'new' and can?(:manage_roles, :manage_link_share, :create_link_share) %>
          <% unless params[:action] == 'index' %>
            <div class='dropdown-item-dividier'></div>
          <% end %>
         <li>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <%= link_to 'Share Link', '/rordit/share-link', class: 'dropdown-item' %>
          </li>
        <% end %>

        <% if params[:action] == 'show' and can?(:manage_roles, :manage_link_share) %>
          <div class='dropdown-item-dividier'></div>
          <li>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= link_to('Delete', delete_link_path(params[:id]), class: 'dropdown-item',
                          :method => :delete,
                          :data => {:confirm => t(:text_are_you_sure)}) 
              %>
          </li>
          <div class='dropdown-item-dividier'></div>
          <li>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <%= link_to 'Edit', edit_link_path(@link), class: 'dropdown-item' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
