
<%= stylesheet_link_tag 'text_editor/application'  %>

<!-- editor: start -->
<script src="/wodotexteditor/wodotexteditor.js" type="text/javascript" charset="utf-8"></script>
<%= javascript_include_tag 'text_editor/application' %>

<div id="newmenu">
    <button id="openSliderbtn" title="Open Files Listing/Search Panel"><img src="images/glyphicons-115-list.png"></button>
    <input id="docfilename" type="text" value="doc.odt" />
    <button id="savefilebtn" title="Save File"><img src="images/glyphicons-415-disk-save.png"></button>
    <button id="saveasfilebtn" title="Save As File"><img id="saveasfileimg" src="images/glyphicons-511-duplicate_dim_rev.png"></button>
    <button id="reloadbtn" title="Reset Text Editor"><img src="images/glyphicons-82-refresh.png"></button>
    <button id="resetuserbtn" title="Reset User Name Next Session"><img src="images/glyphicons-524-user-asterisk.png"></button>
</div>

<div id="docslistingdiv">
    <div id="list_search" class="slide slide-up">
        <button id="closeSliderbtn" title="Close Docs Listing and Search Panel"><img src="images/glyphicons-370-collapse-top.png"></button>
        <p id="list_name"><span id="mh">MH</span> Text Editor</span></p>
        <input type="search" id="searchfiles" name="searchfiles" />
        <button id="searchbtn" class="flrtbtn iconbtn maplistbtn" title="Search Listing"><img src="images/glyphicons-28-search.png"></button>
        <label for="searchname"><input type="radio" name="searchwhat" id="searchname" checked /> Filename</label>
        <label for="searchtext"><input type="radio" name="searchwhat" id="searchtext" /> Filename/Text</label>
        <br>
        <button id="resetmhtexteditorbtn" title="Delete All Docs"><img src="images/glyphicons-198-remove-circle.png">Delete All</button>
        <div id="fileslisting">
        </div>
        <div id="filesessionmsg">NOTE: Download all files before ending this session!</div>
    </div>
</div>

<div id="editorContainer">
</div>

<script src="/texteditor/wodo_script.js" type="text/javascript" charset="utf-8"></script>

     <script>
     var saveasfileimg = document.getElementById("saveasfileimg");
     </script>
