
<%= stylesheet_link_tag 'text_editor/application'  %>

<!-- editor: start -->
<script src="/wodotexteditor/wodotexteditor.js" type="text/javascript" charset="utf-8"></script>
<%= javascript_include_tag 'text_editor/application' %>

<div id="newmenu">
    <button id="openSliderbtn" class="iconbtn" title="Open Listings/Search Panel"><img src="/texteditor/glyphicons-115-list.png"></button>
    <input id="docfilename" type="text" value="doc.odt" readonly />
    <button id="savefilebtn" class="iconbtn" title="Save File"><img src="/texteditor/glyphicons-415-disk-save.png"></button>
    <button id="newfilebtn" class="iconbtn" title="New File"><img src="/texteditor/glyphicons-703-file-plus.png"></button>
    <button id="duplicatefilebtn" class="iconbtn" title="Duplicate File"><img id="duplicatefileimg" src="/texteditor/glyphicons-511-duplicate.png"></button>
    <button id="downloadfilebtn" class="iconbtn" title="Download File"><img src="/texteditor/glyphicons-201-download.png"></button>
    <button id="uploadfilebtn" class="iconbtn" title="Upload File"><img src="/texteditor/glyphicons-202-upload.png"></button>
    <button id="reloadbtn" class="iconbtn" title="Reset Text Editor"><img src="/texteditor/glyphicons-82-refresh.png"></button>
    <button id="resetuserbtn" class="iconbtn" title="Reset User Name Next Session"><img src="/texteditor/glyphicons-524-user-asterisk.png"></button>
</div>

<div id="docslistingdiv">
    <div id="list_search" class="slide slide-up">
        <button id="closeSliderbtn" class="iconbtn2" title="Close Listings/Search Panel"><img src="/texteditor/glyphicons-370-collapse-top.png"></button>
        <p id="list_name"><span id="mh">MH</span> Text Editor</span></p>
        <input type="search" id="searchfiles" name="searchfiles" title="Search Input Textbox" />
        <button id="searchbtn" class="iconbtn2" title="Submit Search"><img src="/texteditor/glyphicons-28-search.png"></button>
        <label for="searchname"><input type="radio" name="searchwhat" id="searchname" checked /> File Name</label>
        <label for="searchtext"><input type="radio" name="searchwhat" id="searchtext" /> File Name/Text</label>
        <br>
        <div id="deletediv">
           <button id="deleteallbtn" class="iconbtn2" title="Delete All Files"><img src="/texteditor/glyphicons-198-remove-circle.png"></button> Delete All Files<br>
        </div>
        <div id="fileslisting">
        </div>
        <div id="filesessionmsg">NOTE: Download all files before ending this session!</div>
    </div>
</div>

<div id="filename_div">
   <span><input type="text" id="filenameinput" title="File Name Textbox" placeholder="input file name" />.odt</span>
   <input type="text" id="nametype" value="newfunc" hidden />
   <button id="submitfilename" class="iconbtn" title="Submit File Name"><img src="/texteditor/glyphicons-194-ok-sign.png"></button>
   <button id="cancelfilename" class="iconbtn" title="Cancel File Name"><img src="/texteditor/glyphicons-193-remove-sign.png"></button>
</div>

<div id="editorContainer">
</div>

<script src="/texteditor/wodo_script.js" type="text/javascript" charset="utf-8"></script>
