<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', jsignature_path(@jsignature), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if User.current_user.admin?
  %>
  <%= link_to t('button_cancel'), @owner, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), jsignature_path(@jsignature, format: :pdf) , class: 'btn btn-primary pull-right' %>
</div>