<table  class="table  table-responsive" id="jsignatures_table" style="width: 100%">
  <thead>
  <tr>
    <th>Person name</th>
    <th>User</th>
    <th>User title</th>
    <th>Created at</th>
    <th>Signature</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<% columns= [ ]
   columns << { "searchable": true, "orderable": true }

   columns << [ { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },



                { "searchable": false, "orderable": false }]

%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'jsignatures_table',
    url: jsignatures_path(format: :csv, status_type: params[:status_type],case_id: @case.try(:id), appointment_id: @appointment.try(:id)),
    columns: columns.flatten,
    ajax_url: jsignatures_path(format: :json, status_type: params[:status_type], case_id: @case.try(:id), appointment_id: @appointment.try(:id))
} %>

