<table  class="table table-bordered table-responsive" id="jsignature_table">
  <thead>
  <tr>
    <th>Person name</th>
    <th>User</th>
    <th>Created at</th>
    <th>Signature</th>
  </tr>
  </thead>

  <tbody>
  <% jsignatures.each do |jsignature| %>
      <tr>
        <td><%= link_to jsignature.person_name, jsignature %></td>
        <td><%= jsignature.user %></td>
        <td><%= format_date_time jsignature.created_at %></td>
        <td><%= image_tag jsignature.signature.html_safe, size: '200x100' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
    $(document).ready(function(){
        initDataTable('jsignature_table');
    } );
</script>
