
<section id="widget-grid" class="jsignatures_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     jsignatures: @jsignatures,
                     wid_id: 'jsignatures',
                     wid_title: "Plan of Care Agreement"
                 } %>
    </article>
  </div>
</section>
