<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="row btn-edition">
  <div class="col-xs-12">
    <%= link_to 'Enable Two factor authentication', '/users/enable_authy', class: 'pull-right btn btn-primary' if User.current == User.current_user %>
    <%= link_to 'Print', {}.merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
  </div>
</div>
<%= render_tabs edit_user_page_tab %>

