<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', case_organization_path(@case_organization), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if can?(:delete_case_organizations, :manage_case_organizations, :manage_roles)
  %>
  <%= link_to 'Edit', edit_case_organization_path(@case_organization), class: 'btn btn-success pull-right' if can?(:edit_case_organizations, :manage_case_organizations, :manage_roles) %>
  <%= link_to t('button_cancel'), case_url(@case_organization.case), class: 'btn btn-warning pull-right' %>
</div>