<table class="table table-responsive table-bordered" id="case_organizations_table">
  <thead>
  <tr>
    <th>Case</th>
    <th>Organization</th>
    <th>Association</th>
  </tr>
  </thead>

  <tbody>
    <% @case_organizations.each do |c_o| %>
          <tr>
            <td><%= link_to_case c_o.case%></td>
            <td><%= link_to c_o.organization, c_o.organization %></td>
            <td><%= c_o.association_type %></td>
          </tr>
      <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('case_organizations_table')
  } );
</script>
