
<section id="widget-grid" class="show_group_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'case_organizations/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'case_organizations',
                     wid_title: 'Case Organizations'
                 } %>
    </article>
  </div>
</section>