<table class="table table-responsive" id="job_application_table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Occupation</th>
    <th>App state</th>
  </tr>
  </thead>

  <tbody>
  <% @job_apps.each do |job_app| %>
      <tr>
        <td><%= link_to_edit_if_can job_app.title, {ctrl: :job_apps, object: job_app } %></td>
        <td><%= job_app.occupation %></td>
        <td><%= job_app.app_state %></td>
        </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('job_application_table')
  })
</script>
