<table class="table table-responsive display responsive nowrap" id="job_apps_table" style="width: 100%">
  <thead>
  <tr>
    <th>Title</th>
    <% if @case.nil? %>
        <th>Occupation</th>
    <% end %>
    <th>Employer</th>
    <th>Date applied</th>
    <th>App state</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true } ]
   if @case.nil?
     columns << { "searchable": true, "orderable": true }
   end


   columns <<      [{ "searchable": true, "orderable": true },
                    { "searchable": true, "orderable": true },

                    { "searchable": true, "orderable": true }]
   columns.flatten!
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'job_apps_table',
    url: job_apps_path(format: :csv, status_type: params[:status_type], case_id: @case.try(:id), appointment_id: @appointment.try(:id)),
    columns: columns.flatten,
    ajax_url: job_apps_path(format: :json, status_type: params[:status_type], case_id: @case.try(:id), appointment_id: @appointment.try(:id))

} %>
