<section id="widget-grid" class="checklists_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     case_support: @case_support,
                     wid_id: 'case_suport',
                     wid_title: t('edit_case_support')
                 } %>
    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'extend_demographies/form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'extend_demography',
                     wid_title: 'Case support informations',
                     extend_demography: @case_support.extend_informations
                 } %>
    </article>
  </div>
</section>
