<div class="row">
  <div class="col-md-2" style="text-align: center">
    <%= image_tag comment.user.profile_image, size: '40x40' %>
  </div>
  <div class="col-md-10">
    <%= comment.content %>
  </div>
</div>
<hr/>
