<% content_for :thredded_page_title, t('thredded.nav.edit_messageboard') %>
<% content_for :thredded_page_id, 'messageboard-edit' %>
<% content_for :thredded_breadcrumbs do %>
  <ol class="breadcrumb">
    <li class="">
      <%= t('thredded.nav.edit_messageboard') %>
    </li>
  </ol>
<% end %>

<%= thredded_page do %>
  <%= render 'form', messageboard: @messageboard %>
<% end %>
