<% content_for :thredded_page_title, t('thredded.messageboard.create') %>
<% content_for :thredded_page_id, 'messageboards-new' %>
<% content_for :thredded_breadcrumbs do %>
  <ol class="breadcrumbs">
    <li class="">
      <%= t('thredded.messageboard.create') %>
    </li>
  </ol>
<% end %>

<%= thredded_page do %>
  <%= render 'form', messageboard: @messageboard %>
<% end %>
