<%= render partial: 'action_menu' %>
<section id="widget-grid" class="case_watcher_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     admission: @case_watcher,
                     wid_id: 'casewatcher',
                     wid_title: 'Edit Case Watcher'
                 } %>
    </article>
  </div>
</section>
