<table class="table table-responsive" id="behavioral_risk_table" style="width: 100%">
  <thead>
  <tr>

    <th>Name</th>
    <th>Snomed</th>
    <th>Date started</th>
    <th>Date ended</th>
    <th>Behavioral risk status</th>
    <th>Behavioral risk type</th>

  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },

               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'behavioral_risk_table',
    url: behavioral_risks_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: behavioral_risks_path(format: :json, status_type: params[:status_type])
} %>

