<% if module_enabled?('case_support') %>
     <%= link_to(t('label_search_suuport'), search_case_supports_path(case_id: @case.id), class: 'btn btn-primary pull-right btn-edition') if can?(:search_case_supports, :manage_roles, :manage_case_supports) %>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'case_supports/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                       show_case_column: false,
                       case_supports: @case_supports,
                       wid_id: 'case_support',
                       wid_title: t('cases_support')
                   } %>
      </article>
    </div>
<% end %>