<% if module_enabled?('goals') %>
    <%= link_to(t('new_goal'), new_goal_path(case_id: @case.id), class: 'btn btn-primary pull-right btn-edition') if can?(:create_goals, :manage_roles, :manage_goals) %>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'goals/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                           goals: @goals,
                           wid_id: 'goals',
                           wid_title: 'goals'
                   } %>
      </article>
    </div>
    <script>
        $(document).ready(function(){
            <% if @goals.present? %>  initDataTable('goals_table') <% end %>
        } );
    </script>

<% end %>