<% if module_enabled?('measurement_records') %>
<section id="widget-grid" class="measurement_records_section">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'application/state_button_filter_with_remote',
               locals: {controller_name: 'measurement_records', container: 'measurement_records_container',
                        other_options: {appointment_id: @appointment.try(:id), case_id: @case.try(:id) }} %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:230px;">
        <% if can?(:create_measurement_records, :manage_roles, :manage_measurement_records) %>
          <%  if (params[:controller] != 'appointments' and @case) or (@stored_appointment and @appointment == @stored_appointment ) %>
            <li>
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              <%= link_to 'New measurement', new_measurement_record_path(case_id: @case.id), class: 'dropdown-item' %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </div>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'measurement_records/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                       show_case_column: false,
                       measurement_records: @measurement_records,
                       wid_id: 'measurement_records',
                       wid_title: 'measurements'
                   } %>
      </article>
    </div>
  </section>
<% end %>
