
<% if module_enabled?('needs') %>
    <%= link_to(t('new_need'), new_need_path(case_id: @case.id), class: 'btn btn-primary pull-right btn-edition') if can?(:create_needs, :manage_roles) %>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'needs/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                           needs: @needs,
                           wid_id: 'needs',
                           wid_title: 'needs'
                   } %>
      </article>
    </div>
    <script>
        $(document).ready(function(){
            <% if @needs.present? %>  initDataTable('needs_table') <% end %>
        } );
    </script>

<% end %>