
<% if module_enabled?('tasks') %>
    <%= link_to( t('new_task'), new_task_path(related_to: @case.id, type: 'case'), class: 'btn btn-primary pull-right btn-edition') if can?(:create_tasks, :manage_roles) %>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'tasks/sub_tasks',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                           wid_id: 'tasks',
                           wid_title: t('tasks')
                   } %>
      </article>
    </div>
    <script>
        $(document).ready(function(){
            <% if @tasks.present? %>  initDataTable('tasks_table') <% end %>
        } );
    </script>

<% end %>