<% if module_enabled?('teleconsults') %>
    <%= link_to(t('new_teleconsult'), new_teleconsult_path(case_id: @case.id), class: 'btn btn-primary pull-right btn-edition') if can?(:create_teleconsults, :manage_roles, :manage_teleconsults) %>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'teleconsults/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                       show_case_column: false,
                       teleconsults: @teleconsults,
                       wid_id: 'teleconsults',
                       wid_title: 'teleconsults'
                   } %>
      </article>
    </div>
<% end %>