<% if module_enabled?('teleconsults') %>
<section id="widget-grid" class="teleconsults_section">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter'%>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:180px;">
        <% if can?(:create_teleconsults, :manage_roles, :manage_teleconsults) %>
        <li>
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          <%= link_to t('new_teleconsult'), new_teleconsult_path(case_id: @case.id), class: 'dropdown-item' %>
        </li>
        <div class='dropdown-item-dividier'></div>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </div>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render partial: 'teleconsults/list',
                   layout: 'shared/smart_widget_wrapper',
                   locals: {
                       show_case_column: false,
                       teleconsults: @teleconsults,
                       wid_id: 'teleconsults',
                       wid_title: 'teleconsults'
                   } %>
      </article>
    </div>
  </section>
<% end %>
