<%= link_to( 'New Certification', new_certification_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_certifications)%>

<div class="row">
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= render partial: 'certifications/list',
               layout: 'shared/smart_widget_wrapper',
               locals: {
                   certifications: @certifications,
                   wid_id: 'certifications',
                   wid_title: t('certifications')
               } %>
  </article>
</div>
