<table class="table table-responsive" id="surgical_table" style="width: 100%">
  <thead>
  <tr>
    <th>Name</th>
    <th><%= t('hcpc') %></th>
    <th>Medical Facility</th>
    <th>Surgery Status</th>
    <th>Surgery Type</th>
    <th>Surgical Date</th>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }
]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'surgical_table',
    url: surgicals_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: surgicals_path(format: :json, status_type: params[:status_type])
} %>
