<%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
<%= link_to( 'New skill', new_other_skill_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_other_skills)%>

<section id="widget-grid" class="other_skills_section">
  <%= render partial: 'state_button_filter'%>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     other_skills: @other_skills,
                     wid_id: 'other_skills',
                     wid_title: t('other_skills')
                 } %>
    </article>
  </div>
</section>
