<% unless User.current.allowed_to?(:manage_roles) %>
    <% modules = ['admissions', 'health_care_facilities',
                  'problem_lists', 'surgicals',
                  'medicals', 'behavioral_risks',
                  'family_histories', 'immunizations', 
                  'allergies', 'laboratory_examinations', 
                  'radiologic_examinations'
    ]
    %>
    <% if can_view_submenu?(modules) %>
        <li>
          <a href="#" id="ul_medical_history"><i class="fa fa-lg fa-fw fa-film"></i> <span class="menu-item-parent">Medical History</span></a>
          <ul id="medical_history_menu">

            <% if module_enabled?( 'medical_record') %>
                <li class="<%= menu_active?('profile_record') %> ">
                  <a href= "/medical_record" title="Medical record"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Medical record</span></a>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
<% end %>
