<% if !User.current.allowed_to?(:manage_roles) %>
    <li class="<%= 'active' if params[:action] == 'profile_record' %> ">
      <a href= "/profile_record" title="Profile record"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Client Profile</span></a>
    </li>


<% else %>
    <li class="<%= menu_active?('devise/registrations') %>">
      <a href= "/users/edit" title="<%= t('profile.my_profile') %>"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent"><%= t('profile.my_profile') %></span></a>
    </li>
<% end %>
