<% modules = ['educations', 'other_skills',
              'certifications', 'clearances', 'positions',
              'injuries', 'worker_compensations', 'job_applications',
              'resumes', 'military_histories'
]
%>
<% if can_view_submenu?(modules) %>

    <% if module_enabled?( 'occupational_record') %>
        <li class="<%= menu_active?('profile_record') %> ">
          <a href= "/occupational_record" title="Occupational History"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Occupational History</span></a>
        </li>
    <% end %>

<% end %>
