<li class="chat-users top-menu-invisible">
  <a href="#"><i class="fa fa-lg fa-fw fa-comment-o"></i> <span class="menu-item-parent"> User ChatRoom</span></a>
  <ul>
    <li>
      <!-- DISPLAY USERS -->
      <div class="display-users">
        <input class="form-control chat-user-filter" id="chat-user-filter" placeholder="Filter" type="text">
        <div id="user_connected">

        </div>
      </div>
      <!-- END DISPLAY USERS -->
    </li>
  </ul>
</li>