<% unless User.current.allowed_to?(:manage_roles) %>
    <% modules = ['daily_livings', 'socioeconomics',
                  'housings', 'environment_risks',
                  'financials', 'legals', 'transportations', 'other_histories']
    %>
    <% if can_view_submenu?(modules) %>

        <% if module_enabled?( 'socioeconomic_record') %>
            <li class="<%= menu_active?('profile_record') %> ">
              <a href= "/socioeconomic_record" title="Socioeconomic Hx"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Socioeconomic Hx</span></a>
            </li>
        <% end %>

    <% end %>
<% end %>
