<%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>

<%#= link_to('New Task', new_task_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_tasks, :manage_tasks, :manage_roles) and !(User.current.allowed_to?(:manage_roles) and session[:employee_id].nil?) %>
<section id="widget-grid" class="tasks_section">
  <%= render partial: 'state_button_filter'%>
  <% if false && can?(:create_tasks, :manage_roles, :manage_tasks) %>
      <div class="btn-group pull-right btn-edition">
        <button class="btn btn-primary">
          Add Action For
        </button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @cases_for_btn.each do |c| %>
              <li>
                <%= link_to c, new_task_path(related_to: c.id, type: 'Case') %>
              </li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list_ajax',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         wid_id: 'actions',
                         wid_title: t('tasks')
                 } %>
    </article>
  </div>
</section>
