
button.iconbtn{background:transparent; border:none;}
button.flrtbtn{float:right;}

#topbar {position: absolute; margin-top:60px; margin-left: 225px; background:transparent;}
#openSliderbtn {margin-top:-5px; margin-left:10px; margin-right: 20px; width:40px; height:40px;}
#openSliderbtn img {width:23px; height:20px;}
#save_canvas {margin-top:-3px; margin-left:10px; width:40px; height:40px;}
#save_canvas img {width:21px; height:20px;}
#tool_save {margin-top:-3px; margin-left:10px; width:40px; height:40px;}
#tool_save img {width:21px; height:21px;}
#tool_export {margin-top:-3px; margin-left:10px; width:40px; height:40px;}
#tool_export img {width:19px; height:20px;}
#tool_clear {margin-top:-3px; margin-left:50px; width:40px; height:40px;}
#tool_clear img {width:19px; height:20px;}
#tool_docprops {margin-top:-3px; margin-left:5px; width:40px; height:40px;}
#tool_docprops img {width:20px; height:20px;}
#tool_prefs_option {margin-top:-3px; margin-left:0px; width:60px; height:40px;}
#tool_prefs_option span img {width:21px; height:20px;}
#filetitle {margin-top: -5px; padding: 0 3px; width:300px; height: 24px; border: 1px solid #666; background:#f4f4f4;}
#importsvg {width:18px !important; height:19px !important;}

#fileslisting {margin-top: 20px;}
#list_name {margin-left:10px;font-size:24px;font-weight:bold;color:#DD9036;}
#mh {color:#1D336F;}
.deletefilebtn {margin-right: 10px; background:transparent; border:none;}
.deletefilebtn img {width: 15px; height: 14px;}
.editfilebtn {margin-left: 0px; margin-right: 10px; background:transparent; border:none;}
.editfilebtn img {width: 17px; height: 15px;}

#list_search {margin-top:-1px;padding:15px 10px 15px 10px;width:500px;background-color:white;border:1px solid #666; font-family: Helvetica, Arial, sans-serif; z-index: -2000;}
#list_search p {margin-top: 10px;}
#searchfiles {margin: 10px 0 10px 10px; padding: 0 5px; width:430px; height: 30px; border: 1px solid #666; background:#f4f4f4;}
#searchbtn {margin-top:15px; margin-right:10px;}
#searchbtn img {width:18px; height:18px;}
#filesessionmsg {margin-top:20px; font-size: 10px; font-weight: bold; display:none;}
#closeSliderbtn {float:right;}

#svglistingdiv {
  background-color: transparent;
  z-index:-2000;
  position:absolute;
  margin-top:100px;
  margin-left:225px;
  width: 600px;
  overflow: hidden;
}

.slide {
  border: 1px solid rgba(153, 153, 153, .7);
  background-color: rgba(204, 204, 204, .3);
  padding: 5px;
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(0);
}

.slide-up {
  transform: translateY(-100%);
}

#buttonrow {float:left; margin-right:15px;}

#main_button2 {
  float:left;
  margin-top:6px;
  position: absolute;
  margin-left:560px;
}

#main_icon {
  position: relative !important;
  width: 30px !important;
  background: transparent !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border:none;
}

#main_icon:hover {
  background: transparent !important;
}

#main_icon.buttondown {
  background: #eee !important;
  background: transparent !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 3px 3px 0 0;
}

#main_button2 .dropdown {
  position: absolute !important;
  right: 2px !important;
  top: 4px !important;
}

#main_menu {
  z-index: 12;
  background: #eee;
  position: relative;
  width: 160px;
  padding: 5px;
  -moz-box-shadow: #555 1px 1px 4px;
  -webkit-box-shadow: #555 1px 1px 4px;
  box-shadow: #555 1px 1px 4px;
  font-size: 1.1em;
  display: none;
  overflow: hidden;
  clear: both;
  top: 10px;
}

#main_menu ul li {font-family: Helvetica, Arial, sans-serif; font-size: .75em !important;}


