
button.iconbtn, button.iconbtn2 {border: none; box-shadow: none; background-color:transparent; margin: 5px 5px; padding: 5px;}
button.iconbtn {margin-right: 15px;}
button.iconbtn:hover {background-color:#ddd;}
button.iconbtn2:hover {background-color:#ddd;}

#topbar {position: absolute; margin-top:60px; margin-left: 225px; background:transparent;}

#filetitle {margin-top: -5px; padding: 6px; width: 300px; padding: 6px; border:none; border-bottom: 2px solid #aaa; background-color: transparent; color:#333; font-family:helvetica,arial,sans-serif;font-weight: bold; font-size: 14px;}

#filename_div {z-index:1500; display:none;margin-top:-50px; margin-left:54px; background-color:#aaa; width:310px;height:40px;padding:6px 4px 8px 10px;}
#filenameinput {width:200px;height:20px;}
#submitfilename, #cancelfilename {margin-left:0px; margin-right:0px;}
#submitfilename img, #cancelfilename img {width:20px; height:20px;}

#openSliderbtn {margin-top:-5px; margin-left:10px; margin-right: 20px;}
#openSliderbtn img {width:23px; height:20px;}
#save_canvas {margin-top:-3px; margin-left:10px;}
#save_canvas img {width:21px; height:20px;}
#new_file {margin-top:-3px; margin-left:10px;}
#new_file img {width:19px; height:20px;}
#duplicate_file {margin-top:-3px; margin-left:10px;}
#duplicate_file img {width:21px; height:20px;}
#tool_save {margin-top:-3px; margin-left:10px;}
#tool_save img {width:21px; height:21px;}
#tool_export {margin-top:-3px; margin-left:10px;}
#tool_export img {width:19px; height:20px;}
#tool_clear {margin-top:-3px; margin-left:50px;}
#tool_clear img {width:19px; height:20px;}
#tool_docprops {margin-top:-3px; margin-left:5px;}
#tool_docprops img {width:20px; height:20px;}
#tool_prefs_option {margin-top:-3px; margin-left:0px; width:60px; height:40px;}
#tool_prefs_option span img {width:21px; height:20px;}
#importsvg {width:18px !important; height:19px !important;}


#list_name {margin: 10px 0 10px 10px;font-family:verdana,helvetica,sans-serif;font-size:24px;font-weight:bold;color:#DD9036;}
#mh {color:#1D336F;}

#fileslisting {margin:20px 10px 0px;}
#fileslisting p {margin-top:10px;}

#deleteallbtn {margin-top:10px; margin-left:8px; font-size:14px; font-family: Helvetica, Arial, sans-serif;}
#deleteallbtn img {width:20px; height:20px; margin-right:0px;}

.deletefilebtn, .editfilebtn {margin-right:20px; background-color:transparent; border:none; padding: 5px 5px 3px 5px;}
.deletefilebtn:hover, .editfilebtn:hover {background-color:#ddd;}
.deletefilebtn img {width:14px;height:14px;}
.editfilebtn img {width:18px;height:16px;}

#list_search {margin-top:0px;padding:10px 10px 20px 10px;width:600px;background-color:white;border:1px solid #666;font-family:helvetica,sans-serif;font-size:14px; z-index: -2000;}
#searchfiles {margin: 0 0 10px 10px; padding:5px; width:500px; height: 20px; border: 1px solid #666; background-color:#f4f4f4;}



#searchbtn img {width:18px; height:18px;}
#closeSliderbtn {float:right;}
#deletediv {display:none;}
#filesessionmsg {margin-top:20px; margin-left:10px; font-size: 10px; font-weight: bold; display:none;}

#svglistingdiv {
  background-color: transparent;
  z-index:-2000;
  position:absolute;
  margin-top:100px;
  margin-left:225px;
  width: 630px;
  overflow: hidden;
}

.slide {
  border: 1px solid rgba(153, 153, 153, .7);
  background-color: rgba(204, 204, 204, .3);
  padding: 5px;
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(0);
}

.slide-up {
  transform: translateY(-100%);
}

#buttonrow {float:left; margin-right:15px;}

#main_button2 {
  float:left;
  margin-top:6px;
  margin-top:3px;
  position: absolute;
  margin-left:560px;
  margin-left:680px;
}

#main_icon {
  position: relative !important;
  width: 30px !important;
  background: transparent !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border:none;
}

#main_icon:hover {
  background: transparent !important;
}

#main_icon.buttondown {
  background: #eee !important;
  background: transparent !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 3px 3px 0 0;
}

#main_button2 .dropdown {
  position: absolute !important;
  right: 2px !important;
  top: 4px !important;
}

#main_menu {
  z-index: 12;
  background: #eee;
  position: relative;
  width: 160px;
  padding: 5px;
  -moz-box-shadow: #555 1px 1px 4px;
  -webkit-box-shadow: #555 1px 1px 4px;
  box-shadow: #555 1px 1px 4px;
  font-size: 1.1em;
  display: none;
  overflow: hidden;
  clear: both;
  top: 10px;
}

#main_menu ul li {font-family: Helvetica, Arial, sans-serif; font-size: .75em !important;}


