body {background:#f4f4f4; margin:0; padding: 0; font-family: Helvetica, Arial, sans-serif;}
li{margin-top:2px; margin-bottom:2px;}
button{width:140px; height: 40px; border: none; box-shadow: none; background:transparent; color: black; margin: 5px 5px; padding: 5px;}
#layout{width:1230px;width:100%;}
#jsmind_nav{z-index:2000;width:100%; height:62px;border-bottom:solid 1px #666;overflow:auto;background-color: #ccc; margin:0;padding:0;}
.file_input{width:300px; height: 30px; border: none; box-shadow: none; background-color: #f4f4f4; color: black;}
button.iconbtn{width:40px;}
button.iconsbtn{width:50px;}
button.iconswbtn{width:66px; padding-left:2px; padding-right: 2px;}
button.iconsxbtn{width:100px; padding-left:2px; padding-right: 2px;}
button.flrtbtn{float:right;}
button:hover {background-color: #808080;}
button.maplistbtn:hover {background-color: #c0c0c0;}
#searchbtn:hover {background-color: #c0c0c0;}
#list_name {margin-left:10px;font-size:24px;font-weight:bold;color:#FF8C00;color:#DD9036;}
#mh {color:#1D336F;}
.defaulttopic {color:#FF8C00;}
#warndiv {float:none;display:none;margin: 0px 20px -15px 20px;}
#warndiv p {font-size: .75em;}
.deletemapbtn {margin-right: 0px;}
.editmapbtn {margin-left: 0px;}
.flipimg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";            
}
.smtext {font-size: .85em;}

#jsmind_container{
    margin: 0 auto;
    width:1000px;            
    min-width: 600px; 
    height:600px;
    background:#f4f4f4;
    clear:both;
}
#list_search {margin-top:-1px;padding:15px 10px 30px 10px;width:400px;background-color:white;border:1px solid #666;}
#list_search p {margin:0;}
#searchmaps {margin: 10px 0 10px 10px; padding:5px; width:325px; height: 30px; border: 1px solid #666; background:#f4f4f4;}

#nodes_menu, #file_menu, #export_import {
    padding: 0px 10px 10px 10px;
    color: black;            
}
#file_menu {float:left;}
#nodes_menu {float:right;}
#export_import {
    z-index:500;
    margin: 0;
    height: 50px;
    padding-top: 5px;
    background-color: #ccc;
    display: none;
    clear:both;
    border-bottom:solid 1px #666;
}
#expand_level {float:right; margin-top: 2px; margin-right: 10px; display:none;}
#expside {
    width: 40%;
    float:left;
    margin: 0;
    background-color: #ccc;
}
#impside {
    width: 50%;
    float:left;
    margin: 0;
    background-color: #ccc;
}
p, label {
    font: .85em Helvetica, Arial, sans-serif;
}

#info {display:none; margin:-50px 10px 10px 50px; width:90%; }
#info p, ul li {font-size:.75em; }

#colorpickerbtn {width:24px; height:24px; background-color:#0000cc; border:2px ridge #ccc; margin: 0 0px 0 0 !important;}
#colorpicker {z-index:5000;margin:-1px auto 0 auto; width:460px;height:230px; background:#e6e6e6; border:1px solid #666; padding: 10px; display:none;}
#changebgcolorbtn {margin-left:5px !important;}
table tr td {width: 16px; height: 16px; padding: 10px; background-color: #ffffff;}
.colorshade {width: 16px; height: 16px;}

.wh22x22 {width:22px; height:22px;}
.wh19x19 {width:19px; height:19px;}
.wh21x20 {width:21px; height:20px;}
.wh26x18 {width:26px; height:18px;}
.wh13x9 {width:13px; height:9px;}
.wh15x19 {width:15px; height:19px;}
.wh18x19 {width:18px; height:19px;}
.wh18x18 {width:18px; height:18px;}
.wh18x15 {width:18px; height:15px;}
.wh20x18 {width:20px; height:18px;}
.wh10x10 {width:10px; height:10px;}
.wh15x15 {width:15px; height:15px;}
.wh17x15 {width:17px; height:15px;}
.wh12x12 {width:12px; height:12px;}
.wh12x4 {width:12px; height:4px;}

#mapslistingdiv {
  background-color: transparent;
  z-index:-2000;
  position:absolute;
  margin-top:0;
  width: 430px;
  overflow: hidden;
}

.slide {
  border: 1px solid rgba(153, 153, 153, .7);
  background-color: rgba(204, 204, 204, .3);
  padding: 5px;
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(0);
}

.slide-up {
  transform: translateY(-100%);
}

@media all and (max-width: 739px) {
    #jsmind_nav{height:180px;}
}
@media all and (min-width: 740px) and (max-width: 1199px) {
    #jsmind_nav{height:124px;}
}
@media all and (min-width: 1200px) {
    #jsmind_nav{height:62px;}
}



@media all and (max-width: 739px) {
    button{margin:5px 10px;}
    #changebgcolorbtn {margin-left:-10px !important;}
}
@media all and (min-width: 740px) and (max-width: 799px) {
    button{margin:5px 1px;}
}
@media all and (min-width: 800px) and (max-width: 899px) {
    button{margin:5px 5px;}
}
@media all and (min-width: 900px) and (max-width: 1199px) {
    button{margin:5px 10px;}
    #changebgcolorbtn {margin-left:-10px !important;}
}
@media all and (min-width: 1200px) and (max-width: 1439px) {
    button{margin:5px 2px;}
}
@media all and (min-width: 1440px) and (max-width: 1659px) {
    button{margin:5px 5px;}
}
@media all and (min-width: 1660px) {
    button{margin:5px 10px;}
    #changebgcolorbtn {margin-left:-10px !important;}
}


@media all and (max-width: 939px) {
    #expside, #impside {float:none; width: 100%;}
    #export_import {height: 100px;}
}

@media all and (min-width: 1240px) {
    #expand_level {display:block;}
}

@media all and (max-width: 1199px) {
    #nodes_menu {float:left;}
    #colorpicker {margin:-1px auto 0 0;} 
}

@media all and (min-width: 300px) {
    #changebgcolorbtn {margin-left:-5px !important;}
}
