body {background:#f4f4f4; margin:0; padding: 0; font-family: Helvetica, Arial, sans-serif;}
li{margin-top:2px; margin-bottom:2px;}

.file_input{width:300px; height: 30px; border: none; box-shadow: none; background-color: #f4f4f4; color: black;}


button.iconbtn, button.iconbtn2 {border: none; box-shadow: none; background-color:transparent; margin: 5px 5px; padding: 5px;}
button.iconbtn:hover {background-color:#ddd;}
button.iconbtn2:hover {background-color:#ddd;}


#searchbtn:hover {background-color: #c0c0c0;}
#list_name {margin: 0px 0 10px 10px;font-family:verdana,helvetica,sans-serif;font-size:24px;font-weight:bold;color:#DD9036;}
#mh {color:#1D336F;}


#openSliderbtn {margin-right:20px;}
#openSliderbtn img {width:20px;height:18px;}
#closeSliderbtn, #close_colorpicker {float:right;}

#docfilename {width: 300px; padding: 6px; border:none; border-bottom: 2px solid #aaa; background-color: transparent; color:#333; font-family:helvetica,arial,sans-serif;font-weight: bold; font-size: 14px;}
#filename_div {z-index:1500; display:none;margin:-50px 0 0 54px; background-color:#aaa; width:310px;height:50px;padding:6px 4px 8px 10px;}
#filenameinput {width:200px;height:20px;}
#fileext {font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight:bold;}
#submitfilename, #cancelfilename {margin-left:0px; margin-right:0px;}
#submitfilename img, #cancelfilename img {width:20px; height:20px;}

#savebtn, #newfilebtn, #duplicatebtn, #uploadbtn, #downloadbtn, #screenshotbtn, #resetmapbtn {margin-left:10px; margin-right:10px;}
#savebtn img, #duplicatebtn img, #newfilebtn img {width:20px;height:19px;}
#downloadbtn img, #uploadbtn img {width:20px; height:20px;}
#resetmapbtn img {width:18px; height:19px;}
#screenshotbtn img {width:22px; height:22px;}


#deleteallbtn {margin-top:10px; margin-left:8px; font-size:14px; font-family: Helvetica, Arial, sans-serif;}
#deleteallbtn img {width:20px; height:20px; margin-right:0px;}
.deletemapbtn {margin-left: 0px; margin-right: 0px;}
.editmapbtn {margin-left: 0px;}


#jsmind_container{
    margin: 0 auto;
    width:1000px;            
    min-width: 600px; 
    height:600px;
    background:#f4f4f4;
    clear:both;
}
#list_search {margin-top:0px;padding:10px 10px 20px 10px;width:600px;background-color:white;border:1px solid #666;font-family:helvetica,sans-serif;font-size:14px;}

#searchmaps {margin: 0 0 10px 0; padding:5px; width:500px; height: 30px; border: 1px solid #666; background:#f4f4f4;}

#searchname {margin-left:160px;}
#searchtext {margin-left:40px;}

#maplisting {margin:20px 10px 0px;}
#maplisting p {margin-top: 10px; font-size:14px; font-family: Helvetica, Arial, sans-serif;}

#deletediv {display:none;}
#filesessionmsg {margin-top:20px; font-size: 10px; font-weight: bold; display:none;}
#deleteallbtn {margin-top:10px; margin-left:8px; font-size:14px; font-family: Helvetica, Arial, sans-serif;}
#deleteallbtn img {width:20px; height:20px; margin-right:0px;}
.deletemapbtn, .editmapbtn {margin-right:20px; background-color:transparent; border:none; padding: 5px 5px 3px 5px;}
.deletemapbtn:hover, .editmapbtn:hover {background-color:#ddd;}
.deletemapbtn img {width:14px;height:14px;}
.editmapbtn img {width:18px;height:16px;}

#file_menu, #nodes_menu {
    z-index:2000;
    margin:0;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-bottom:solid 1px #666;
    overflow:auto;
}

#file_menu{height:50px; background-color: #D0D0D0;}

#nodes_menu{height:40px; background-color: #E9E9E9; padding: 0px 10px 0 10px;}

#expand_level {margin-top:-38px; margin-left:745px; display:block;}

#import_div {display:none;}


#info {display:none; margin:-50px 10px 10px 50px; width:90%; }
#info p, ul li {font-size:.75em; }

#colorpickerbtn {width:20px; height:20px; background-color:#0000cc; border:2px ridge #ccc; margin: 0 0px 0 10px !important;}
#colorpicker {z-index:5000;margin:-1px auto 0 0;width:460px;height:220px; background:#e6e6e6; border:1px solid #666; padding: 10px; display:none;}
#colorpicker table tr td {width: 16px; height: 16px; padding: 10px; background-color: #ffffff;}
.colorshade {width: 16px; height: 16px;}


.wh10x10 {width:10px; height:10px;}
.wh16x16 {width:16px; height:16px;}
.wh18x16 {width:18px; height:16px;}
.wh13x9 {width:13px; height:9px;}
.wh12x4 {width:12px; height:4px;}
.wh20x20 {width:20px; height:20px;}
.wh21x18 {width:21px; height:18px;}
.wh17x14 {width:17px; height:14px;}
.wh24x16 {width:24px; height:16px;}
.wh19x18 {width:19px; height:18px;}
.wh18x18 {width:18px; height:18px;}
.wh17x17 {width:17px; height:17px;}


#mapslistingdiv {
  background-color: transparent;
  z-index:-2000;
  position:absolute;
  margin-top:-42px;
  width: 630px;
  overflow: hidden;
}

.slide {
  border: 1px solid rgba(153, 153, 153, .7);
  background-color: rgba(204, 204, 204, .3);
  padding: 5px;
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(0);
}

.slide-up {
  transform: translateY(-100%);
}


@media all and (max-width: 1199px) {
    #expand_level {display:none;}
}
