<table class="table table-responsive" id="military_histories_table" style="width: 100%">
    <thead>
    <tr>
      <th>Service Name</th>
      <th>Service type</th>
      <th>Service status</th>
      <th>Date started</th>
      <th>Date ended</th>
    </tr>
    </thead>

    <tbody>

    </tbody>
  </table>
<% columns= [

    { "searchable": true, "orderable": true },
    { "searchable": true, "orderable": true },
    { "searchable": true, "orderable": true },
    { "searchable": true, "orderable": true },

    { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'military_histories_table',
    url: military_histories_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: military_histories_path(format: :json, status_type: params[:status_type])
} %>
