<div class="row" >
  <%= link_to( t('add_jsignature'),
               new_jsignature_path(owner_type: "User", owner_id: User.current.id),
               class: 'btn btn-primary pull-right btn-edition') if can?(:add_jsignatures, :manage_roles) %>

  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row" >
      <%= render partial: 'jsignatures/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     show_case_column: true,
                     jsignatures:  User.current.jsignatures,
                     wid_id: 'jsignatures',
                     wid_title: "Release of Information"
                 } %>
    </div>
  </article>
</div>
