<div class="col-xs-12">

  <h4> Organization information: <%= org = job_detail.organization %></h4>



  <% if org %>
      <% org.grouped_by_role.each do |role, users| %>
          <h4> <%= role %> </h4>
          <ul>
            <% users.each do |user| %>
                <li> <%= user %> </li>
            <% end %>
          </ul>
      <% end %>
  <% end %>
</div>