<div class="col-xs-12"><% org = job_detail.try(:organization)  %>
  <h4> Organization information:  <%= org || 'None' %></h4>
  <% if org %>
      <%= render_extend_demography_information(org.organization_extend_demography) %>
      <% org.grouped_by_role.each do |role, users| %>
          <h4> <%= role %> </h4>
          <ul>
            <% users.each do |user| %>
                <li> <%= user %> </li>
            <% end %>
          </ul>
      <% end %>
  <% end %>
</div>