<%= link_to('New Financial', new_financial_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_financials, :manage_roles, :manage_financials) %>
<div class="row">
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= render partial: 'financials/list',
               layout: 'shared/smart_widget_wrapper',
               locals: {
                   wid_id: 'financial',
                   wid_title: t('financials')
               } %>
  </article>
</div>
