<div class="col-xs-12 btn-edition">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-links" role="menu">
      <% if @course.can?(:manage_roles, :manages_courses, :delete_courses) %>
        <li>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <%= link_to('Delete', lms.course_lesson_path(@course, @lesson), class: 'dropdown-item',
                        :method => :delete,
                        :data => {:confirm => t(:text_are_you_sure)}) 
            %>
        </li>
        <div class='dropdown-item-dividier'></div>
      <% end %>

      <% if @course.can?(:manage_roles, :manages_courses, :edit_courses) %>
        <li>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <%= link_to 'Edit', lms.edit_course_lesson_path(@course, @lesson), class: 'dropdown-item' %>
        </li>
        <div class='dropdown-item-dividier'></div>
      <% end %>

        <li>
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          <%= link_to 'Cancel', lms.course_lessons_path(@course), class: 'dropdown-item' %>
        </li>
    </ul>
  </div>
</div>
