<%= render partial: 'action_menu' %>
<div class="col-xs-12">
  <p>
    <strong>Name:</strong>
    <%= @insurance.name %>
  </p>

  <%= render_extend_demography_information(@insurance.insurance_extend_demography) %>
</div>
