<%= stylesheet_link_tag "sticky_note/application", media: "all" %>

<div class="module-title">
  <h2 class='module-title-text'>MY STICKY NOTES</h2>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-12 btn-editable">
      <a href="javascript:;" class="button pull-right" id="add_note">Add New Note</a>
      <a href="javascript:;" class="button pull-right" id="export_notes">Export Notes</a>
      <a href="javascript:;" class="button pull-right" id="import_notes">Import Notes</a>
      <a href="javascript:;" class="button pull-right" id="reset_notes">Reset</a>
      <a href="javascript:;" class="button pull-right" id="btn_save">Save</a>
    </div>
      
    <div id="board">
    </div>

    <a id="downloadAnchorElem" style="display:none"></a>

    <div id="importnotes" hidden>
      <h4>Upload File</h4>
      <form id="upload_form" enctype="multipart/form-data" action="" method="post">
        <input type="file" id="loadjson" name="files[]" multiple/>
        <textarea hidden id="preview" name="preview" rows="5"></textarea><br>
        <!-- <textarea id="preview" rows="5"></textarea><br> -->
        <a href="javascript:;" class="button" id="submit_upload">Submit</a>
        <a href="javascript:;" class="button" id="cancel_upload">Cancel</a>
      </form>
    </div>

    <footer id="footerdiv">
      <a href="javascript:;" class="button" id="to_top">To Top</a>
    </footer>
  </div>
</div>
<script>

  var thesenotes = <%= @todos.todos.to_s.inspect.html_safe %>;
  localStorage.setItem("thesenotes", thesenotes);
</script>
<%= javascript_include_tag "sticky_note/application" %>
