<% if post.can_destroy? || post.can_update? %>
  <div class="row">
    <div class="col-xs-12 btn-edition tabs-section">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-links" role="menu">
          <% if post.can_destroy? %>
            <li>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <%= link_to(t('thredded.posts.delete'), post.destroy_path, class: 'dropdown-item',
                            :method => :delete,
                            :data => {:confirm => I18n.t('thredded.posts.delete_confirm')}) 
                %>
            </li>
            <div class='dropdown-item-dividier'></div>
          <% end %>
          <% if post.can_update? %>
            <li>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <%= link_to t('thredded.posts.edit'), post.edit_path, class: 'dropdown-item' %>
            </li>
           <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
