<%= form_for (post.private_topic_post? ? [topic, post] : [messageboard, topic, post]), as: :post,
             html: {
                 class: 'form-horizontal',
                 'data-thredded-post-form' => true,
                 'data-autocomplete-url' => autocomplete_users_path,
                 'data-autocomplete-min-length' => Thredded.autocomplete_min_length,
             } do |form| %>

    <%= render 'thredded/posts_common/form/content_field', form: form, content_label: content_label %>

    <div class="form-group margin-top-10" >
      <div class="col-xs-12">
        <%= link_to t('button_cancel'), topic_path(@topic), class: 'btn btn-warning pull-right' %>
        <%= form.submit button_text, class: 'btn btn-success pull-right' %>
      </div>
    </div>
<% end %>
