<%# @param post [Thredded::PostView] %>
<header>
  <h2 class="thredded--post--user"><%= user_link post.user %></h2>
  <%= image_tag post.user.profile_image, class: 'btn btn-circle' if post.user %>
  <p class="thredded--post--created-at"><%= time_ago post.created_at %></p>
</header>
