
<section id="widget-grid" class="languages_section">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter'%>
    <%= link_to('NEW LANGUAGE', new_language_path, class: 'btn btn-primary primary-tab') if can?(:create_languages, :manage_roles, :manage_languages) %>
    <%= link_to 'PRINT', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'btn btn-primary secondary-tab'  %>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     languages: @languages,
                     wid_id: 'languages',
                     wid_title: t('languages')
                 } %>
    </article>
  </div>
</section>
