<!-- MAIN CONTENT -->
<div id="content">
  <!-- end row -->

  <!-- row -->
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="well well-sm">
        <!-- Timeline Content -->
        <div class="smart-timeline">
          <%= render partial: 'timeline' %>
        </div>
        <!-- END Timeline Content -->

      </div>

    </div>

  </div>

  <!-- end row -->

</div>
<!-- END MAIN CONTENT -->