<div class="pull-right">
  <%= link_to "New Group", new_group_path, :class => "btn btn-primary" %>
</div>

<section id="widget-grid" class="show_group_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'groups',
                     wid_title: 'Groups'
                 } %>
    </article>
  </div>
</section>