
<section id="widget-grid" class="groups_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         group: @group,
                         wid_id: 'group',
                         wid_title: 'New Group'
                 } %>
    </article>
  </div>
</section>
