<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', job_application_path(@job_application), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if @job_application.can?(:manage_roles, :manages_job_applications, :delete_job_applications)
  %>
  <%= link_to( 'Edit', edit_job_application_path(@job_application), class: 'btn btn-success pull-right') if @job_application.can?(:manage_roles, :manages_job_applications, :edit_job_applications) %>
  <%= link_to t('button_cancel'), job_applications_path, class: 'btn btn-warning pull-right' %>
  <%#= link_to t('button_print'), job_application_path(@job_application, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>
