<table class="table table-responsive" id="medications_table" style="width: 100%;">
  <thead>
  <tr>
    <th>Medication</th>
    <th>Count</th>
    <th>Directions</th>

    <th>Date prescribed</th>
    <th>Date expired</th>
    <th>Total refills</th>

    <th>Refills left</th>
    <th>Medication status</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },

               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },

               { "searchable": true, "orderable": true },

               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'medications_table',
    url: medications_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: medications_path(format: :json, status_type: params[:status_type])
} %>