<section id="widget-grid" class="related_clients_section">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'state_button_filter'%>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:200px;">
        <% if can?(:manage_related_clients, :create_related_clients, :manage_roles) %>
        <li>
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          <%= link_to t('new_related_client'), new_related_client_path, class: 'dropdown-item' %>
        </li>
        <div class='dropdown-item-dividier'></div>
        <% end %>
        <li>
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          <%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <% if can?(:manage_roles, :view_related_clients, :manage_related_clients) %>
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'related_clients/list',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         related_clients:  User.current.related_clients,
                         wid_id: 'related_clients',
                         wid_title: "Related Clients"
                     } %>
        </article>
    <% end %>
  </div>
</section>
