<%= link_to(t('new_insurance'), new_user_insurance_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_insurances, :manage_insurances, :manage_roles) %>

<div class="row">
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= render partial: 'user_insurances/list',
               layout: 'shared/smart_widget_wrapper',
               locals: {
                   user_insurances: @user_insurances,
                   wid_id: 'insurances',
                   wid_title: t('insurance')
               } %>
  </article>
</div>