<script>
  $( function() {
    $tabs = $( "#tabs-shared" ).tabs();
  } );
</script>
<section id="widget-grid" class="show_tab">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="tabs-shared">
        <ul>
          <% tabs.each do |tab| -%>
              <li><a id="link-tabs-modules" href="<%=  "#tabs-#{tab[:name] }" %>"><%= t(tab[:label]) %></a></li>
          <% end -%>
        </ul>
        <% tabs.each do |tab| -%>
            <div id="<%= "tabs-#{tab[:name]}" %>">
              <%= render partial: tab[:partial], :locals => {:tab => tab} %>
            </div>
        <% end -%>
      </div>
    </article>
  </div>
</section>
<style>
  .ui-widget-content a {
    color: #214e75;
  }
</style>
