<table  class="table  table-responsive" id="appointment_captures_table">
  <thead>
  <tr>
    <th><%= t('icdcm_code')%></th>
    <th>Date Recorded</th>
  </tr>
  </thead>

  <tbody>

  <% captures.each do |capture| %>
      <tr>
        <td><%= link_to_edit_if_can(capture.icdcm_code, {ctrl: :appointment_captures, object: capture })%></td>
        <td><%= format_date capture.date_recorded   %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
   initDataTable('appointment_captures_table');
  } );
</script>
