
<table class="table table-responsive display responsive nowrap" id="health_care_table" style="width: 100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Health care facility type</th>
    <th>Health care facility status</th>
    <th>Health care facility contact</th>
    <th>Date started</th>
    <th>Date end</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'health_care_table',
    url: health_care_facilities_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: health_care_facilities_path(format: :json, status_type: params[:status_type])
} %>
