<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', measurement_record_path(@measurement_record), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if can?(:manage_roles, :delete_measurement_records, :manage_measurement_records)
  %>
  <%= link_to 'Edit', edit_measurement_record_path(@measurement_record), class: 'btn btn-success pull-right' if can?(:manage_roles, :edit_measurement_records, :manage_measurement_records) %>
  <%= link_to t('button_cancel'), measurement_records_path, class: 'btn btn-warning pull-right' %>
</div>
