<table class="table table-responsive display responsive nowrap " id="measurement_records_table" style="width: 100%">
  <thead>
  <tr>
    <th>Measurement</th>
    <th>Component</th>
    <th>Measure</th>
    
    <th>Measured by</th>
    <th>Date time</th>
    <th>Recorded by</th>
    <th>Flag</th>
    <th>Measurement status</th>

  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'measurement_records_table',
    url: measurement_records_path(format: :csv, status_type: params[:status_type], case_id: @case.try(:id)),
    columns: columns.flatten,
    ajax_url: measurement_records_path(format: :json, status_type: params[:status_type], case_id: @case.try(:id))
} %>


