<h1>Contacts</h1>

<div class="row">
  <div class="col-xs-12">
    <%= link_to( 'Search Contact', search_contacts_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_contacts, :manage_contacts, :manage_roles)  %>
    <%= link_to( 'New Contact', new_contact_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_contacts, :manage_contacts, :manage_roles)  %>
  </div>
</div>


<%= render partial: 'list', locals: {contacts: @contacts} %>
