<div class="row">
  <div class="col-xs-12">
    <%= link_to( 'New Contact', new_contact_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_contacts, :manage_contacts, :manage_roles)  %>

    <%= text_field_tag :contact_search, '', class: 'form-control contact-autocomplete' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 contact_result">
</div>
</div>

<script>
  $(function(){
    $(".contact-autocomplete").autocomplete({
      //source: availableTags

      source: function (request, response) {
        $.ajax({
          url: "/contacts/search.json?q="+ request.term,
          dataType: "json",
          success: function (data) {
            response(data)
          }
        });
      },
      minLength: 2,
      select: function (event, ui) {
        $.getScript('/contacts/'+ui.item.id+'.js')
      }
    });
  })
</script>