<div class="module-title">
  <h2 class='module-title-text'>ALL FILES</h2>
</div>

<section id="widget-grid" class="checklists_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'all_files',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         wid_id: 'files',
                         wid_title: ' '
                 } %>
    </article>
  </div>
</section>
