<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'documents/form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     document: @document,
                     wid_id: 'document',
                     wid_title: t('edit_document')
                 } %>
    </article>
  </div>
</section>
