<% if params[:controller] == 'client_documents' %>
    <%= link_to( t('new_document'), new_client_document_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_documents, :manage_roles, :manage_documents) %>
<% end %>
<section id="widget-grid" class="documents_section">
  <%= render partial: 'state_button_filter'%>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'documents/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     documents: @documents,
                     wid_id: 'documents',
                     wid_title: t('documents')
                 } %>
    </article>
  </div>
</section>

