<section id="widget-grid" class="documents_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     documents: @documents,
                     wid_id: 'documents',
                     wid_title: t('documents')
                 } %>
    </article>
  </div>
</section>
<%= will_paginate @documents, renderer: BootstrapPagination::Rails %>
