<div class="col-xs-12 btn-edition">
  <%= link_to('Delete',  affiliation_path(@affiliation), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if @affiliation.can?(:manage_roles, :manages_affiliations, :delete_affiliations)
  %>
  <%= link_to 'Edit', edit_affiliation_path(@affiliation), class: 'btn btn-success pull-right' if @affiliation.can?(:manage_roles, :manages_affiliations, :edit_affiliations) %>
  <%= link_to t('button_cancel'), affiliations_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), affiliation_path(@affiliation, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>