<%= link_to( t('new_award'), new_award_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_awards, :manage_roles, :manage_awards) %>
<section id="widget-grid" class="awards_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'award',
                     wid_title: t('awards')
                 } %>
    </article>
  </div>
</section>
