<% show_case = @case.nil? %>
<table class="table table-responsive display responsive nowrap" id="referrals_table" style="width: 100%">
  <thead>
  <tr>
    <th>Title</th>
    <% if show_case %>
        <th><%= t('case') %></th>
    <% end %>
    <th>Referral Type</th>
    <th>Referral Date</th>
    <th>Referral Appointment</th>
    <th>Referral Status</th>
    <th>Referred By</th>
    <th>Referred To</th>
    <% if @appointment %>
        <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<% columns= [ ]
   columns << { "searchable": true, "orderable": true }
   if show_case
     columns << { "searchable": true, "orderable": true }
   end
   columns << [ { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },
                { "searchable": true, "orderable": true },

                { "searchable": true, "orderable": true },

                { "searchable": true, "orderable": true }]
   if @appointment and can?(:manage_roles)
     columns << { "searchable": false, "orderable": false }
   end
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'referrals_table',
    url: referrals_path(format: :csv, status_type: params[:status_type], show_case: show_case, case_id: @case.try(:id), appointment_id: @appointment.try(:id)),
    columns: columns.flatten,
    ajax_url: referrals_path(format: :json, status_type: params[:status_type], show_case: show_case, case_id: @case.try(:id), appointment_id: @appointment.try(:id))
} %>
