<%= link_to(t('new_referral'), new_referral_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_referrals, :manage_referrals, :manage_roles) %>
<section id="widget-grid" class="referrals_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     referrals: @referrals,
                     wid_id: 'referrals',
                     wid_title: t('referrals')
                 } %>
    </article>
  </div>
</section>

