
<section id="widget-grid" class="referrals_section">
  <%= render partial: 'state_button_filter'%>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     referrals: @referrals,
                     wid_id: 'referrals',
                     wid_title: t('referrals')
                 } %>
    </article>
  </div>
</section>

