<table class="table table-responsive display responsive nowrap" id="medicals_table" style="width: 100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Snomed</th>
    <th>Medical facility</th>
    <th>Date of diagnosis</th>
    <th>Medical history status</th>
    <th>Medical history type</th>

  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },

               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'medicals_table',
    url: medicals_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: medicals_path(format: :json, status_type: params[:status_type])
} %>
