<div class="col-xs-12 btn-edition">
  <%= link_to('Delete',  enrollment_path(@enrollment), class: 'btn btn-danger pull-right' ,
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if @enrollment.can?(:delete_enrollments, :manage_enrollments, :manage_roles)
  %>
  <%= link_to 'Edit', edit_enrollment_path(@enrollment), class: 'btn btn-success pull-right' if @enrollment.can?(:edit_enrollments, :manage_enrollments, :manage_roles) %>
  <%= link_to t('button_cancel'), enrollments_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), enrollment_path(@enrollment, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>