<table class="table  table-responsive" id="enrollments_table" style="width: 100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Enrollment Type</th>
    <th>Enrollment Status</th>
    <th>Date start</th>
    <th>Date end</th>
    <% if @appointment and can?(:manage_roles) %>
        <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
   if @appointment and can?(:manage_roles)
     columns << { "searchable": false, "orderable": false }
   end
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'enrollments_table',
    url: enrollments_path(format: :csv, status_type: params[:status_type], case_id: @case.try(:id), appointment_id: @appointment.try(:id)),
    columns: columns.flatten,
    ajax_url: enrollments_path(format: :json, status_type: params[:status_type], case_id: @case.try(:id), appointment_id: @appointment.try(:id))
} %>
