<%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
<section id="widget-grid" class="enrollments_section">
  <%= render partial: 'state_button_filter_with_remote', locals: {controller_name: 'enrollments', container: 'enrollments_container'} %>
  <div class="btn-group pull-right btn-edition">
    <button class="btn btn-primary">
      Add Enrollment For
    </button>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% @cases_for_btn.each do |c| %>
          <li>
            <%= link_to c, new_enrollment_path(case_id: c.id) %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         enrollments: @enrollments,
                         wid_id: 'enrollments',
                         wid_title: t('enrollments')
                 } %>
    </article>
  </div>
</section>