<%= render partial: 'action_menu' %>

<section id="widget-grid" class="case_enrollments">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'info',
                     wid_title: 'Enrollment'
                 } %>
    </article>
  </div>
</section>
