<%= link_to( t('new_mtf_hospital'), new_mtf_hospital_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_mtf_hospitals, :manage_roles, :manage_mtf_hospitals) %>
<section id="widget-grid" class="mtf_hospitals_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'mtf_hospital',
                     wid_title: t('mtf_hospitals')
                 } %>
    </article>
  </div>
</section>
