<table class="table  table-responsive" id="insurances_table" style="width: 100%">

  <thead>
  <tr>
    <th><%= t('insurance') %></th>
    <th><%= t('insurance_type') %></th>
    <th><%= t('insurance_status') %></th>
    <th>Insurance Identifier</th>
    <th>Issue date</th>
    <th>Expiration Date</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>


</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'insurances_table',
    url: user_insurances_path(format: :csv),
    columns: columns.flatten,
    ajax_url: user_insurances_path(format: :json, status_type: params[:status_type])
} %>
