<table class="table table-responsive" id="injuries_table" style="width: 100%">
  <thead>
  <tr>
    <th>Injury Name</th>
    <th>Snomed</th>
    <th>Injury type</th>

    <th>Injury cause</th>
    <th><%= 'Snmed cause' %></th>
    <th>Injury status</th>

    <th>Employer</th>
    <th>Date of injury</th>
    <th>Date resolved</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>


<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },

               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },

               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'injuries_table',
    url: injuries_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: injuries_path(format: :json, status_type: params[:status_type])
} %>

