<%= link_to(t('new_injury'), new_injury_path, class:'btn btn-primary pull-right margin-bottom-10') if can?(:create_injuries, :manage_roles, :manage_injuries) %>
<section id="widget-grid" class="injuries_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'injury',
                     wid_title: t('injuries')
                 } %>
    </article>
  </div>
</section>
