<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', incident_history_path(@incident_history), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if @incident_history.can?(:manage_roles, :manages_incident_histories, :delete_incident_histories)
  %>
  <%= link_to( 'Edit', edit_incident_history_path(@incident_history), class: 'btn btn-success pull-right') if @incident_history.can?(:manage_roles, :manages_incident_histories, :edit_incident_histories) %>
  <%= link_to t('button_cancel'), incident_histories_path, class: 'btn btn-warning pull-right' %>
  <%#= link_to t('button_print'), incident_history_path(@incident_history, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>
