
<table class="table table-responsive" id="courses_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Course Code</th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.course_code %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('courses_table')
  })
</script>
