<%= wiki_page_style -%>

<div class="module-title">
  <h2 class='module-title-text'>WIKI</h2>
</div>

<section id="widget-grid" class="news_section">
  <div class="row">
    <div class="col-xs-12 btn-edition" style="padding-left:0;">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-links" role="menu">
          <li>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <%= link_to('New Page', 'new', class: 'dropdown-item', id: 'new_page_link') %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <%= render partial: 'base_wiki_pages/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'wikipages',
                     wid_title: 'All Pages'
                 } %>
    </div>
  </div>
</section>

<%= will_paginate @pages, renderer: BootstrapPagination::Rails %>
