<%= wiki_page_style %>

<h1><%=wt 'Editing wiki page' %></h1>

<% if params[:preview] %>
    <div class="wiki_content">
      <%=wiki_content @page.content %>
    </div>
<% end %>

<section id="widget-grid" class="form_task_user">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: '/base_wiki_pages/form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'Wiki',
                     wid_title: 'New wiki'
                 } %>
    </article>
  </div>
</section>