<table class="table table-responsive display responsive nowrap" id="environment_risk_table" style="width: 100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Snomed</th>
    <th>Date started</th>
    <th>Date ended</th>
    <th>Environment status</th>
    <th>Environment type</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },

               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'environment_risk_table',
    url: environment_risks_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: environment_risks_path(format: :json, status_type: params[:status_type])
} %>
