<table class="table table-responsive" id="socioeconomic_table" style="width: 100%">
  <thead>
  <tr>

    <th>Name</th>
    <th>Snomed</th>
    <th>Date identified</th>
    <th>Date resolved</th>
    <th>Socioeconomic status</th>
    <th>Socioeconomic type</th>

  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'socioeconomic_table',
    url: socioeconomics_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: socioeconomics_path(format: :json, status_type: params[:status_type])
} %>
