<%= link_to 'Print', params.permit(:from, :to, :status_type).merge(format: 'pdf'), class: 'pull-right btn btn-primary'  %>
<%= link_to(t('new_socioeconomic'), new_socioeconomic_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_socioeconomics, :manage_socioeconomics, :manage_roles) %>
<section id="widget-grid" class="socioeconomics_section">
  <%= render partial: 'state_button_filter'%>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     socioeconomics: @socioeconomics,
                     wid_id: 'socioeconomics',
                     wid_title: t('socioeconomics')
                 } %>
    </article>
  </div>
</section>

