<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', event_path(@event), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if @event.can?(:manage_roles, :manages_events, :delete_events)
  %>
  <%= link_to( 'Edit', edit_event_path(@event), class: 'btn btn-success pull-right') if @event.can?(:manage_roles, :manages_events, :edit_events) %>
  <%= link_to t('button_cancel'), events_path, class: 'btn btn-warning pull-right' %>
  <%#= link_to t('button_history_changes'), "/histories/#{@event.class}/#{@event.id}", class: 'btn btn-primary pull-right' %>
</div>
