<table class="table table-responsive" id="no_billings_appointment_table">
  <thead>
  <tr>
    <th>User</th>
    <th>Appointment</th>
    <th>Appointment Date</th>
  </tr>
  </thead>

  <tbody>
  <% appointments.each do |appointment| %>
      <tr>
        <td><b><%= appointment.user %></b></td>
        <td><%= link_to appointment, appointment %></td>
        <td><%= format_date appointment.date %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<script>
  $(document).ready(function(){
    initDataTable('no_billings_appointment_table')
  })
</script>