<%= render partial: 'action_menu' %>
<section id="widget-grid" class="form_note_list">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     survey: @survey,
                     wid_id: 'survey',
                     wid_title: 'Survey'
                 } %>
    </article>
  </div>
</section>

<% if @notes.any? %>
    <%= render partial: 'notes/notes', locals: {notes: @notes} %>
<% end %>