
<table class="table table-responsive" id="referral_result_table">
  <thead>
  <tr>
    <th>Result Date</th>
    <th>Result</th>
  </tr>
  </thead>

  <tbody>
  <% referral_results.each do |referral_result| %>
      <tr>
        <td><%= referral_result.result_date %></td>
        <td><%= referral_result.result.html_safe %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    initDataTable('referral_result_table')
  })
</script>