<%= render partial: 'action_menu' %><section id="widget-grid" class="show_customer_measurement">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     measurement: @measurement,
                     wid_id: 'measurement',
                     wid_title: 'New measurement'
                 } %>
    </article>
  </div>
</section>
