body {font-family: Helvetica, Arial, sans-serif;}
button{border: none; box-shadow: none; background:transparent;}
#docfilename {width:520px;height:20px;}
#newmenu {width:100%;margin-top:0px; height:50px;padding:10px 5px 0px 5px;background-color:#f6f6f6;}
#openSliderbtn {margin-right:20px;}
#openSliderbtn img {width:20px;height:18px;}
#reloadbtn, #savefilebtn, #saveasfilebtn {margin-left:10px;margin-right:10px;}
#savefilebtn img, #saveasfilebtn img {width:20px;height:19px;}
#reloadbtn img {width:17px;height:18px;}
#resetuserbtn img {width:18px;height:18px;}

#list_name {margin-left:10px;font-size:24px;font-weight:bold;color:#DD9036;}
#mh {color:#1D336F;}


#list_search {margin-top:0px;padding:15px 10px 30px 10px;width:600px;background-color:white;border:1px solid #666;}
#list_search p {margin:0;}


#searchfiles {margin: 10px 0; padding:5px; width:500px; height: 30px; border: 1px solid #666; background:#f4f4f4;}

#searchbtn img {width:18px;height:18px;}
#closeSliderbtn {float:right;}
#filesessionmsg {margin-top:20px; font-size: 10px; font-weight: bold; display:none;}
#resetmhtexteditorbtn img {margin-right:10px;width:20px;height:20px;}

#searchname {margin-left:160px;}
#searchtext {margin-left:40px;}

#docslistingdiv {
  background-color: transparent;
  z-index:-2000;
  position:absolute;
  margin-top:0;
  width: 630px;
  overflow: hidden;
}

.slide {
  border: 1px solid rgba(153, 153, 153, .7);
  background-color: rgba(204, 204, 204, .3);
  padding: 5px;
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(0);
}

.slide-up {
  transform: translateY(-100%);
}




.flipimg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";            
}

#fileslisting {margin-top: 20px; margin-left: 3px; width:580px;}
#fileslisting p {margin-top: 10px; font-size: 14px;}
.deletefilebtn img {width:14px; height:14px; margin-right: 14px;}
.editfilebtn img {width:17px; height:15px; margin-right: 14px;}
.hidden {display:none;}

#editorContainer {width:100%; height:100%; margin:0px 0 0 0; padding:0px;}

.webodfeditor-canvas {background-color: white;}
