<table class="table table-responsive" id="allergy_table" style="width: 100%;">
  <thead>
  <tr>
    <th>Allergy type</th>

    <th>Allergy date</th>
    <th>Allergy status</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'allergy_table',
    url: allergies_path(format: :csv),
    columns: columns.flatten,
    ajax_url: allergies_path(format: :json, status_type: params[:status_type])
} %>
