<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', product_path(@product), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if @product.can?(:manage_roles, :manages_products, :delete_products)
  %>
  <%= link_to( 'Edit', edit_product_path(@product), class: 'btn btn-success pull-right') if @product.can?(:manage_roles, :manages_products, :edit_products) %>
  <%= link_to t('button_cancel'), products_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), product_path(@product, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>
