<section id="widget-grid" class="products_section">
  <%= render partial: 'action_menu' %>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'info',
                     wid_title: 'Product'
                 } %>
    </article>
  </div>
</section>


<%= link_to 'Assign product', inventory.new_product_assign_path(product_id: @product.id), class: ' btn btn-primary btn-edition pull-right' %>
<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: '/inventory/product_assigns/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     product_assigns: @product_assigns ,
                     wid_id: 'product ',
                     wid_title: t('product_assigns')
                 } %>
    </article>
  </div>
</section>

