<div class="col-xs-12 btn-edition">
  <%= link_to( 'Delete', link_path(@link), class: 'btn btn-danger pull-right',
               :method => :delete,
               :data => {:confirm => t(:text_are_you_sure)}) if @link.can?(:manage_roles, :manages_links, :delete_links)
  %>
  <%= link_to( 'Edit', edit_link_path(@link), class: 'btn btn-success pull-right') if @link.can?(:manage_roles, :manages_links, :edit_links) %>
  <%= link_to t('button_cancel'), links_path, class: 'btn btn-warning pull-right' %>
 </div>
