<table class="table table-responsive" id="daily_livings_table">
  <thead>
  <tr>
    <th>Snomed</th>
    <th>Daily living status</th>
    <th>Date start</th>
    <th>Date end</th>
  </tr>
  </thead>

  <tbody>
  <% @daily_livings.each do |daily_living| %>
      <tr>
        <td><%= link_to daily_living.snomed, daily_living %></td>
        <td><%= daily_living.daily_living_status %></td>
        <td><%= format_date daily_living.date_start %></td>
        <td><%= format_date daily_living.date_end %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    initDataTable('daily_livings_table')
  })
</script>