<table class="table table-responsive" id="daily_livings_table">
  <thead>
  <tr>
    <th>Daily living Type</th>
    <th>Daily living status</th>
    <th>Date start</th>
    <th>Date end</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'daily_livings_table',
    url: daily_livings_path(format: :csv),
    columns: columns.flatten,
    ajax_url: daily_livings_path(format: :json, status_type: params[:status_type])
} %>
