<%= render partial: 'action_menu' %>
<% checklist = @checklist %>
<section id="widget-grid" class="checklists_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         checklist: @checklist,
                         case_id: defined?(case_id) ? case_id : nil ,
                         wid_id: 'checklist',
                         wid_title: 'Checklist'
                 } %>
    </article>
  </div>
</section>
