<table class="table table-responsive table-bordered" id="radiologic_examination_table" style="width: 100%;">
  <thead>
  <tr>
    <th>Name</th>
    <th>Facility</th>
    <th>Date</th>
    <th>Radiologic result status</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'radiologic_examination_table',
    url: radiologic_examinations_path(format: :csv),
    columns: columns.flatten,
    ajax_url: radiologic_examinations_path(format: :json, status_type: params[:status_type])
} %>