<table class="table table-responsive" id="financials_table" style="width: 100%">
  <thead>
  <tr>
    <th>Financial Type</th>
    <th>Financial status</th>
    <th>Date start</th>
    <th>Date end</th>

  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'financials_table',
    url: financials_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: financials_path(format: :json, status_type: params[:status_type])
} %>
