// Place all the styles related to the overdue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu-tabs-header {
  background-color: #40ac2b;
  padding: 10px 15px;
  letter-spacing: 2px;
}

div.col-xs-12.btn-edition {
  padding-left: 0px;
}

div.col-xs-12.btn-edition :first-child {
  margin: 0px ;
}

button.dropdown-toggle {
  padding: 10px 15px;
  letter-spacing: 2px;
}

ul#dropdown-links {
  background-color: #3276b1;
}

ul#dropdown-links a{
  display: inline-block;
  color: #f5f5f5;
}

ul#dropdown-links li {
  padding: 1px 10px;
}

.dropdown-item-dividier {
  margin: 5px 11px;
  border-bottom: 1px solid skyblue;
}
