<%= render partial: 'action_menu' %>
<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         appointment: @appointment,
                         wid_id: 'appointment',
                         wid_title: 'Edit appointment '
                 } %>
    </article>
  </div>
</section>

<%= render_tabs appointment_tabs %>


<% if @case %>
    <%= render_tabs appointment_case_tabs, params[:tab], 'tab-case' %>
<% end %>