<% unless User.current.admin? %>
    <div class="col-xs-12 btn-edition">
      <%= link_to(t('new_note'), new_note_path(type: 'AttemptNote', owner_id: attempt.id), class: 'btn btn-primary pull-right') if can?(:add_notes, :manage_roles) %>
      <%= link_to( 'show', survey_attempt_path( attempt), class: 'btn btn-success pull-right') %>
      <%= link_to( t('button_cancel'), attempts_path(survey_id: attempt.survey.id, case_id: attempt.participant_id), class: 'btn btn-warning pull-right') %>
    </div>
<% end %>
