<%= render partial: 'action_menu' %>
<div class="container">
  <h2 class="survey-title">
    <%= @survey.name %>
    <p><small><%= @survey.description.html_safe %></small></p>
  </h2>
  <% if @attempts.any? %>
      <% @attempts.each_with_index do |attempt, index| %>
          <%= render partial: 'show', locals: {attempt: attempt, index: index} %>
          <hr/>
      <% end %>
  <% end %>
</div>
