<% if @survey.nil? %>
  <p>
    <%= @participant.class %> there are not Active Surveys right now.
  </p>
<% elsif @survey.available_for_participant?(@participant) %>
  <%= render 'form' %>
<% else %>
  <p>
    <%= @participant.class %> spent all the possible attempts to answer this Survey
  </p>
<% end -%>
