<table class="table table-responsive" id="immunization_table" style="width: 100%">
  <thead>
  <tr>
    <th>Medication</th>

    <th>Next date due</th>
    <th>Date immunized</th>
    <th>Manufacturer</th>
    <th>Lot number</th>
    <th>Expiration date</th>
    <th>Immunization status</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'immunization_table',
    url: immunizations_path(format: :csv),
    columns: columns.flatten,
    ajax_url: immunizations_path(format: :json, status_type: params[:status_type])
} %>
