<section id="widget-grid" class="categories_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                         category: @category,
                         wid_id: 'category',
                         wid_title: 'Category'
                 } %>
    </article>
  </div>
</section>
