<section id="widget-grid" class="categories_section">
 <%= render partial: 'action_menu' %>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     wid_id: 'info',
                     wid_title: 'Category'
                 } %>
    </article>
  </div>
</section>

<% if false %>
    <%= render partial: "document_managers/documents_list" %>
<% end %>
