<div class="row">
  <div class="col-xs-12">
    <%= render partial: 'show' %>
  </div>
</div>
<% if false %>
    <%= render partial: "document_managers/documents_grid" %>
<% else %>
    <%= render partial: "document_managers/documents_list" %>
<% end %>