<table class="table table-responsive" id="worker_compensation_table" style="width: 100%">
  <thead>
  <tr>
    <th>Injury</th>
    <th>Compensation type</th>
    <th>Compensation status</th>
    <th>Date of compensation start</th>
    <th>Date of compensation end</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },

               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'worker_compensation_table',
    url: worker_compensations_path(format: :csv),
    columns: columns.flatten,
    ajax_url: worker_compensations_path(format: :json, status_type: params[:status_type])
} %>
