<%= link_to( 'New clearance', new_clearance_path, class: 'btn btn-primary pull-right margin-bottom-10') if can?(:create_clearances)%>

<section id="widget-grid" class="clearances_section">
  <%= render partial: 'state_button_filter'%>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     clearances: @clearances,
                     wid_id: 'clearances',
                     wid_title: t('clearances')
                 } %>
    </article>
  </div>
</section>
