<table class="table table-responsive" id="admission_table" style="width: 100%">
  <thead>
  <tr>
    <th>Care Facility Name</th>
    <th>Date Admitted</th>
    <th>Date Discharged</th>
    <th>Admission Status</th>
    <th>Admission Type</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'admission_table',
    url: admissions_path(format: :csv),
    columns: columns.flatten,
    ajax_url: admissions_path(format: :json, status_type: params[:status_type])
} %>