<% content_for :thredded_page_title, @message %>
<% content_for :thredded_page_id, 'error-not-found' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/breadcrumbs') %>
<%= thredded_page do %>
  <p class="alert alert-danger"><%= @message %></p>
<% end %>
