<% formulars = tab[:formulars] %>
<section id="widget-grid" class="signatures_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'formulars/list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     formulars: formulars,
                     wid_id: 'forms',
                     wid_title: 'Forms'
                 } %>
    </article>
  </div>
</section>