<% formulars = tab[:formulars] %>
<section id="widget-grid" class="signatures_section">
  <div class="btn-group pull-left btn-edition">
    <button class="btn btn-primary">
      Add Form For
    </button>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% form_types = formulars.group_by{|f| f.form_type } %>
      <% form_types.each do |form_type, forms| %>
          <li class="dropdown-submenu" >
            <%= link_to "New #{(form_type || 'Other')}", '#' %>
            <ul class="dropdown-menu">
              <% forms.each do |form| %>
                  <li>
                    <% if @case %>
                        <%= link_to "#{form.name}", new_formular_form_detail_path(form, case_id: @case.id), class: 'dropdown-item' %>
                    <% else %>
                        <%= link_to "#{form.name}", new_formular_form_detail_path(form), class: 'dropdown-item' %>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </li>

      <% end %>
    </ul>
  </div>

  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'formulars/formular_details',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     formulars: formulars,
                     wid_id: 'forms',
                     wid_title: 'Forms'
                 } %>
    </article>
  </div>
</section>