
<table class="table table-responsive" id="forms_table">
  <thead>
  <tr>
    <th>Description</th>
    <th>Placement</th>
  </tr>
  </thead>

  <tbody>
  <% formulars.each do |formular| %>
      <tr>
        <% if User.current.can?(:manage_roles) %>
            <td><%= link_to formular.name, edit_formular_path(formular) %></td>
        <% else %>
            <td><%= link_to formular.name, formular_path(formular) %></td>
        <% end %>
        <td><%= formular.emplacement %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(document).ready(function(){
        initDataTable('forms_table')
    })
</script>
