<section id="widget-grid" class="cases_list">
  <div class="col-xs-12 btn-edition tabs-section">
    <div class="btn-group">
      <%= render partial: 'action_menu' %>
    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     formular: @formular,
                     wid_id: 'formular',
                     wid_title: 'Form builder'
                 } %>
    </article>
  </div>
</section>


