<section id="widget-grid" class="cases_list">
  <div class="col-xs-12 btn-edition tabs-section">
    <%= render partial: 'application/state_button_filter' %>

    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-links" role="menu" style="min-width:180px;">
        <% if can?(:create_formulars, :manage_formulars, :manage_roles) %>
            <li>
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              <%= link_to 'New Form', new_formular_path, class: 'dropdown-item' %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     formulars: @formulars,
                     wid_id: 'formulars',
                     wid_title: 'Forms'
                 } %>
    </article>
  </div>
</section>
