
<div class="module-title">
  <h2 class='module-title-text'>DOCUMENTS</h2>
</div>

<%= render partial: "document_managers/upload" %>
<div class="row">

  <div class="col-xs-12 col-sm-3 col-md-3" style="display:inline-block">
    <%= render partial: "document_managers/new_folder" %>
  </div>
</div>

<%= render partial: 'list_datatable',
           layout: 'shared/smart_widget_wrapper',
    locals: {
        wid_id: 'documents',
        wid_title: 'Documents'
    } %>
