<% show_case = @case.nil? %>
<table class="table  table-responsive" id="teleconsults_table" style="width: 100%">
  <thead>
  <tr>
    <th>Contact Method</th>
    <% if show_case %>
        <th>Case</th>
    <% end %>

    <th>Contact Type</th>
    <th>Consult Status</th>
    <th>Date</th>
    <th>Time</th>
    <% if @appointment and can?(:manage_roles) %>
        <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  </tbody>
</table>


<% columns= [  { "searchable": true, "orderable": true } ]
   columns<<  { "searchable": true, "orderable": true }  if show_case

   columns<< [{ "searchable": true, "orderable": true },
              { "searchable": true, "orderable": true },
              { "searchable": true, "orderable": true },
              { "searchable": true, "orderable": true }]
   if @appointment and can?(:manage_roles)
     columns << { "searchable": false, "orderable": false }
   end
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'teleconsults_table',
    url: teleconsults_path(format: :csv, status_type: params[:status_type], show_case: show_case, case_id: @case.try(:id), appointment_id: @appointment.try(:id)),
    columns: columns.flatten,
    ajax_url: teleconsults_path(format: :json, status_type: params[:status_type], show_case: show_case, case_id: @case.try(:id), appointment_id: @appointment.try(:id))
} %>
