<section id="widget-grid" class="positions_section">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'list',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     teleconsults: @teleconsults,
                     wid_id: 'teleconsults',
                     wid_title: t('teleconsults')
                 } %>
    </article>
  </div>
</section>
