<div class="col-xs-12 btn-edition">
  <%= link_to('Delete',  resume_path(@resume), class: 'btn btn-danger pull-right' ,
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}) if @resume.can?(:delete_resumes, :manage_resumes, :manage_roles)
  %>
 <%= link_to 'Edit', edit_resume_path(@resume), class: 'btn btn-success pull-right' if @resume.can?(:edit_resumes, :manage_resumes, :manage_roles) %>
  <%= link_to t('button_cancel'),  resumes_path, class: 'btn btn-warning pull-right' %>
  <%= link_to t('button_print'), resume_path(@resume, format: 'pdf'), class: 'btn btn-primary pull-right' %>
</div>