<table class="table table-responsive display responsive nowrap" id="resumes_table" style="width: 100%">
  <thead>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Resume type</th>
    <th>Resume status</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [ 

               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
              
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'resumes_table',
    url: resumes_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: resumes_path(format: :json, status_type: params[:status_type])
} %>
