<div class="row">
  <div class="col-xs-12" style="padding:15px 25px 15px 25px;">
    <p>
      <strong>Product:</strong>
      <%= @product_assign.product %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @product_assign.user %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @product_assign.date %>
    </p>

    <p>
      <strong>Assignment status:</strong>
      <%= @product_assign.assignment_status %>
    </p>
  </div>
</div>
