<% if moderatable_messageboards_ids.present? %>
  <% current = current_page_moderation? %>
  <li class="<%= ' active' if current %>">
    <%= link_to (current ? messageboards_path : pending_moderation_path), rel: 'nofollow' do %>
      <%#= inline_svg 'thredded/moderation.svg',
                     class: 'thredded--icon',
                     title: t('thredded.nav.moderation') %>
      <span class="nav-text"><%= t 'thredded.nav.moderation' %></span>
      <% if posts_pending_moderation_count > 0 %>
        <span class="user-navigation--moderation--pending-count"><%= posts_pending_moderation_count %></span>
      <% end %>
    <% end %>
  </li>
<% end %>
