
<table class="table table-responsive display responsive nowrap" id="related_client_table" style="width: 100%">
  <thead>
  <tr>
    <th>Related client</th>
    <th>Relationship</th>
    <th>Date start</th>
    <th>Date end</th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% columns= [  { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true },
               { "searchable": true, "orderable": true }]
%>
<%= render partial: 'datatable_script', locals: {
    model_table: 'related_client_table',
    url: related_clients_path(format: :csv, status_type: params[:status_type]),
    columns: columns.flatten,
    ajax_url: related_clients_path(format: :json, status_type: params[:status_type])
} %>